.cta-container {
    display: flex;
    width: 80%;
    font-size: 20%;
    height: 70%;
    margin-top: 5%;
}
.cta-content {
    background-color: brown;
}
.img-id1 {
    font-size: 50%;
    width: 50%;
    border-radius: 50%;
    height: 90%;
    margin-left: 10%;
}
.p-class1 {
    text-decoration: black;
    margin-left: 5%;
    font-size: 30%;
}
.img-id2 {
    font-size: 80%;
    width: 45%;
    border-radius: 50%;
    height: 90%;
}
.inner-1 {
    background-color: brown;
}
.p-class2 {
    font-size:30px;
    margin-left: 10px;
    width: 60%;
}
.button-container {
    .center();
}
.sign-up-btn {
    display: block;
    background-color: #ffbf27;
    margin: 0 10px 20px;
    cursor: pointer;
    margin-top: 10%;
}